<manifest xmlns:android="http://schemas.android.com/apk/res/android"
  package="com.raiinmaker.tiktok_login_flutter">
    <queries>
        <package android:name="com.zhiliaoapp.musically" />
        <package android:name="com.ss.android.ugc.trill" />
    </queries>
    <application>
        <activity
            android:name=".tiktokapi.TikTokEntryActivity"
            android:exported="true">
        </activity>
    </application>
</manifest>
